@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/cenário.gif);
    background-repeat: no-repeat;
    width: 100vr;
}


/* .play{ */
/*     position: relative; */
 /*    display: flex;
    justify-content: center;

} */
/* .play.click {

}
.play p, img{
    position: absolute;
    top: 200px;
}
.play p{
    color: #F1CE0E;
    font-size: 60px;
} */



.game-board{
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 200px solid #080C20; 
    position: relative;
    
}

.title {
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    z-index: 9999;
    top: 80px;
    
}
.title span{
    font-size: 40px;
}

.house{
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    width: 110px;
    right: -80px;
    animation: house-animation 1.5s infinite linear;
}

.catbus{
    width: 200px;
    position: absolute;
    bottom: 0px;
    transform: scaleX(-1);
}

.jump {
    animation: catbus-animation 1000ms ease-out;
}

@keyframes house-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes catbus-animation{
    0% {
        bottom: 0;
    }

    40%{
        bottom:200px;
    }

    50% {
        bottom: 200px;
    } 

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

.game-over{
    display: none;
    justify-content: center;
}
.game-over.over{
    display: flex;
}

.game-board.over{
    backdrop-filter: blur(10px);
}


.game-over p ,img{
    position: absolute;   
}
.game-over p{
    color: #F1CE0E;
    font-family: 'Inter' , sans-serif;
    font-size: 60px;
    font-weight: 500;
    bottom: 450px;   
}
.game-over img{
    width: 60px;
    bottom: 360px;
}

/* .game-over img:hover{
    box-shadow: #080C20 1px 4px 5px 20pc;
} */


.byname{
    width: 100%;
    text-align: center;
    font-family: 'Inter' , sans-serif;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    z-index: 9999;
    bottom: 50px;
}